/* global */

body {
  background-color: #781b2b !important;
  color: #f5a549;
}

div.custom-container {
  margin-left: 35% !important;
  margin-right: 35% !important;
}

@media screen and (min-width: 1921px) {
  div.custom-container {
    margin-left: 38% !important;
    margin-right: 38% !important;
  }
}

@media screen and (max-width: 450px) {
  div.custom-container {
    margin-left: 8% !important;
    margin-right: 8% !important;
  }
}

/* landing-page */

@media screen and (max-width: 800px) {
  div.landing-page-container {
    margin-left: 8%;
    margin-right: 8%;
  }
}

h1#landing-page-h1 {
  margin-top: 5.5em;
  font-size: 4.5em;
  font-weight: 900;
  text-align: center;
  font-family: "Cinzel Decorative", cursive;
}

@media screen and (max-width: 450px) {
  h1#landing-page-h1 {
    margin-top: 3.8em;
    font-size: 3em;
  }
}

@media screen and (max-width: 321px) {
  h1#landing-page-h1 {
    margin-top: 2.7em;
    font-size: 3em;
  }
}

p#disclaimer {
  font-size: 0.8em;
  font-weight: 100;
  text-align: center;
  font-family: "Baloo Thambi 2", cursive;
  margin-bottom: 10em;
}

@media screen and (max-width: 321px) {
  p#disclaimer {
    font-size: 0.7em;
    margin-bottom: 7em;
  }
}

p#landing-page-link {
  font-size: 1.3em;
  text-align: center;
  font-family: "Baloo Thambi 2", cursive;
}

a {
  color: #f5a549;
  text-decoration: none;
  transition: 300ms;
}

a:hover {
  color: #fdd551;
  text-decoration: none;
}

/* quiz page */

h3#quiz-page-question-tracker {
  margin-top: 4.5em;
  font-family: "Cinzel Decorative", cursive;
  font-size: 1.9em;
  font-weight: 600;
}

@media screen and (max-width: 450px) {
  h3#quiz-page-question-tracker {
    margin-top: 2em;
    font-size: 1.5em;
  }
}

p#quiz-page-question {
  font-family: "Cinzel Decorative", cursive;
  margin-top: 1.2em;
  margin-bottom: 2em;
  font-size: 1.5em;
  font-weight: 600;
}

@media screen and (max-width: 450px) {
  p#quiz-page-question {
    margin-top: 1em;
    margin-bottom: 0.7em;
    font-size: 1.2em;
  }
}

div.answers-div {
  text-align: center;
}

@media screen and (max-width: 450px) {
  div.answers-div {
    margin-top: 3em;
    text-align: center;
  }
}

@media screen and (max-width: 321px) {
  div.answers-div {
    margin-top: 1em;
  }
}

div.quiz-load-bad-div {
  text-align: center;
  /* margin-top: 2em; */
}

div.loading-bar {
  width: 0;
  /* margin: auto; */
  height: 28px;
  transition: width 2s;
  margin-top: 2em;
  /* margin-left: 2em; */
  border-radius: 15px;
  /* padding-left: 0;
  padding-right: 0; */
}

@media screen and (max-width: 768px) {
  div.loading-bar {
    margin-top: 1em;
  }
}

div.loading-bar.complete {
  /* margin: auto; */
  text-align: center;
  transition: width 1.5s;
  width: 400px;
  background-color: #f5a549;
}

@media screen and (max-width: 768px) {
  div.loading-bar.complete {
    text-align: center;
    /* margin-left: 0; */
    width: 400px;
  }
}

@media screen and (max-width: 450px) {
  div.loading-bar.complete {
    /* margin-left: 10px; */
    width: 320px;
  }
}

@media screen and (max-width: 375px) {
  div.loading-bar.complete {
    /* margin-left: 0px; */
  }
}

@media screen and (max-width: 321px) {
  div.loading-bar.complete {
    /* margin-left: 7px; */
    width: 250px;
  }
}

div.loading-bar.complete:hover {
  background-color: #f7c04b;
}

.button {
  color: #631623;
  font-size: 1.1em;
  font-family: "Baloo Thambi 2", cursive;
  font-weight: 500;
  width: 400px;
  padding: 2px 5px 2px 5px;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  /* margin-left: 2em; */
  border-radius: 15px;
  transition: 350ms;
  display: inline-block;
}

@media screen and (max-width: 780px) {
  .button {
    font-size: 1em;
    width: 400px;
    padding: 2px 5px 2px 5px;
    text-align: center;
    margin-top: 1em;
    /* margin-left: 0; */
    border-radius: 15px;
    transition: 350ms;
    display: inline-block;
  }
}

@media screen and (max-width: 450px) {
  .button {
    font-size: 1em;
    width: 320px;
    padding: 2px 5px 2px 5px;
    text-align: center;
    margin-top: 1em;
    margin-left: 0;
    border-radius: 15px;
    transition: 350ms;
    display: inline-block;
  }
}

@media screen and (max-width: 320px) {
  .button {
    font-size: 1em;
    width: 250px;
    padding: 2px 5px 2px 5px;
    text-align: center;
    margin-top: 0.7em;
    margin-left: 0;
    border-radius: 15px;
    transition: 350ms;
    display: inline-block;
  }
}

.button:hover {
  cursor: pointer !important;
}

.red {
  background-color: rgb(216, 52, 52);
  color: #fdd551;
  pointer-events: none;
}

.green {
  background-color: #408332;
  color: #fdd551;
  pointer-events: none;
}

.default {
  background-color: #f5a549;
}

.default:hover {
  background-color: #f7c04b;
}

@media screen and (max-width: 450px) {
  .default:hover {
    background-color: #f5a549;
  }
}

.disabled {
  color: rgb(192, 192, 192);
  background-color: rgb(133, 126, 126);
  pointer-events: none;
}

span#answers-span {
  display: inline-block;
  transition: 350ms;
}

span#answers-span:hover .fas.fa-bolt {
  display: inline-block;
  transition: 350ms;
}

@media screen and (max-width: 768px) {
  span#answers-span:hover .fas.fa-bolt {
    display: none;
  }
}

.fas.fa-bolt {
  transition: 350ms;
  display: none;
}

.button.default.small {
  width: 160px;
  margin-right: 1em;
}

div#quiz-bottom-buttons {
  display: inline-block;
  margin-top: 2em;
}

@media screen and (max-width: 450px) {
  div#quiz-bottom-buttons {
    display: block;
    margin-top: 1.7em;
  }
}

@media screen and (max-width: 321px) {
  div#quiz-bottom-buttons {
    margin-top: 1em;
  }
}

/* show results */

div.show-results-flavor {
  margin-top: 10em;
  font-family: "Cinzel Decorative", cursive;
  font-size: 1.4em;
  font-weight: 600;
}

@media screen and (max-width: 450px) {
  div.show-results-flavor {
    margin-top: 2em;
    font-size: 1.1em;
  }
}

div.show-results {
  margin-top: 1em;
  margin-bottom: 6em;
  font-family: "Cinzel Decorative", cursive;
  font-size: 1.2em;
  font-weight: 600;
}
@media screen and (max-width: 450px) {
  div.show-results {
    margin-top: 1em;
    margin-bottom: 2em;
    font-size: 1.2em;
  }
}
