body {
  background-color: rgb(228, 113, 93) !important;
}

div.custom-container {
  margin-left: 30% !important;
  margin-right: 30% !important;
}

.button {
  color: rgb(54, 54, 54);
  width: 300px;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  border: solid black 2px;
  border-radius: 15px;
}

.button:hover {
  cursor: pointer !important;
  border: solid rgb(194, 194, 194) 2px;
  color: rgb(105, 105, 105);
}

.red {
  background-color: red;
  pointer-events: none;
}

.green {
  background-color: green;
  pointer-events: none;
}

.default {
  background-color: rgb(255, 224, 83);
}

.disabled {
  color: rgb(185, 185, 185);
  background-color: grey;
  pointer-events: none;
  border: solid rgb(75, 75, 75) 2px;
}
